:root {
	--body-background-color: #f0f0ff;
	--container-background-color: #fafafa;
	--container-box-shadow-color: #442d2d;
	--alternative-box-shadow-color: #010101;
	--task-list-color: #0d0d0d;
	--add-todoitem-button-background-color: #3b44fb;
	--add-todoitem-button-background-color-hover: #050fe5;
	--delete-all-todoitems-button-background-color: #ed5a64;
	--delete-all-todoitems-button-background-color-hover: #cc2936;
}

body {
	/* height: 100vh; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--body-background-color);
	font-family: 'Poppins', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 500px;
	background-color: var(--container-background-color);
	padding: 0;
	margin: 6rem 0;
	border-radius: .75rem;
	box-shadow: 0 10px 15px 0 var(--container-box-shadow-color);
}

.add-new-todoitem-form, .add-new-todolist-form {
	width: 100%;
	display: flex;
	align-self: flex-start;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 1.5rem;
	text-transform: uppercase;
	box-shadow: 0 5px 5px 0 var(--alternative-box-shadow-color);
}

.add-new-todoitem-form #add-todoitem-button, .add-new-todolist-form #add-todolist-button {
	width: 3rem;
	height: 3rem;
	background: var(--add-todoitem-button-background-color);
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	border-radius: .75rem;
	border: 0;
	outline: 0;
	will-change: transform;
	transition: all .3s ease-in-out;
}

.add-new-todoitem-form #add-todoitem-button:hover, .add-new-todolist-form #add-todolist-button:hover {
	background: var(--add-todoitem-button-background-color-hover);
	transform: scale(.95);
}

.add-new-todoitem-form #add-todoitem-button:active, .delete-all-todoitems-form #delete-all-todoitems-button:active
.add-new-todolist-form #add-todolist-button:active, .delete-all-todolists-form #delete-all-todolists-button:active
{
	transform: scale(.9);
}

.add-new-todoitem-form input#new-todoitem-description-input, .add-new-todolist-form input#new-todolist-name-input {
	/* width: calc(100% - 3rem - 5px); */
	width: 12rem;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	background: transparent;
	box-sizing: border-box;
	border: none;
}

.add-new-todoitem-form input#new-todoitem-description-input:focus, .add-new-todolist-form input#new-todolist-name-input:focus {
	color: var(--task-list-color);
	border-color: white;
	outline: 0;
}

.task-list-container, .todolist-list-container {
	padding: 1.5rem 2rem;
}

.task-list-container .task-list, .todolist-list-container .todolist-list {
	list-style-type: none;
	padding-left: 0;
}

.task-list-container .task-list li, .todolist-list-container .todolist-list li {
	display: flex;
	align-items: center;
	color: var(--task-list-color);
	background-color: #ffffff;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	/* letter-spacing: .03rem; */
	letter-spacing: -.015rem;
	padding: 1.25rem;
	border-radius: .75rem;
	border-right: 0px solid lightgray;
	margin-bottom: 5px;
	box-shadow: 0 10px 15px 0 var(--container-box-shadow-color);
	animation: fadeIn .5s linear;
	transition: all .3s ease-in-out;
	will-change: transform;
}

.task-list-container .task-list li:hover, .todolist-list-container .todolist-list li:hover {
	border-right: 55px solid red;
	box-shadow: 0 10px 15px 0 var(--alternative-box-shadow-color);
	transition: all .3s ease-in-out;
	transform: scale(1.05);
	z-index: 20;
}

.task-list-container .task-list li:hover .delete-todoitem-button, .todolist-list-container .todolist-list li:hover .delete-todolist-button {
	right: -37px;
	color: white;
}

.task-list-container .task-list li .delete-todoitem-button, .todolist-list-container .todolist-list li .delete-todolist-button {
	font-size: 1rem;
	line-height: .85rem;
	position: absolute;
	color: transparent;
	background: none;
	border: none;
	outline: 0;
	transition: all .3s ease-in-out;
}

.task-list-container .task-list li .delete-todoitem-button:hover, .todolist-list-container .todolist-list li .delete-todolist-button:hover {
	opacity: .75;
}

.delete-all-todoitems-form, .delete-all-todolists-form {
	width: 100%;
	display: flex;
	align-self: flex-start;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 1.5rem;
	text-transform: uppercase;
	box-shadow: 0 -5px 5px 0 var(--alternative-box-shadow-color);
}

.delete-all-todoitems-form #delete-all-todoitems-button, .delete-all-todolists-form #delete-all-todolists-button {
	width: 3rem;
	height: 3rem;
	background: var(--delete-all-todoitems-button-background-color);
	color: white;
	text-align: center;
	font-size: 2rem;
	font-weight: 300;
	border-radius: .75rem;
	border: 0;
	outline: 0;
	will-change: transform;
	transition: all .3s ease-in-out;
}

.delete-all-todoitems-form #delete-all-todoitems-button:hover, .delete-all-todolists-form #delete-all-todolists-button:hover {
	background: var(--delete-all-todoitems-button-background-color-hover);
	transform: scale(.95);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
  }
}