<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Página Inicial</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.14.0/css/all.min.css" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<div id="app">
		<div class="container">
			<form action="/api/todolists" method="POST" class="add-new-todolist-form">
				<p id="add-new-todolist-message">Adicionar lista</p>
				<input id="new-todolist-name-input" placeholder="Digite o nome da lista" value="" required="required" />
				<button type="submit" id="add-todolist-button"><i class="far fa-plus-square"></i></button>
			</form>
			<div class="todolist-list-container">
				<h2>Lista de Listas de Tarefas</h2>
				<p class="no-todolists-to-show" th:style="${todoLists.isEmpty() ? 'display: block;' : 'display: none;'}">Você não possui listas de tarefas.</p>
				<ul class="todolist-list">
					<li th:each="todoList : ${todoLists}" th:id="'todolist-' + ${todoList.id}">
						<div class="todolist-name-container">
							<a th:href="'/web/todos/' + ${todoList.id}" class="todolist-name" th:text="${todoList.name}"></a>
						</div>
						<button type="button" class="delete-todolist-button"><i class="far fa-times-circle"></i></button>
					</li>
				</ul>
			</div>
			<form action="/api/todolists" method="DELETE" class="delete-all-todolists-form" th:style="${!todoLists.isEmpty() ? 'display: flex;' : 'display: none;'}">
				<p id="delete-all-todolists-message">Deletar todas as listas de tarefas</p>
				<button type="submit" id="delete-all-todolists-button"><i class="far fa-trash-alt"></i></button>
			</form>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="module" th:src="@{/js/todoLists.js}" defer></script>
</body>
</html>