<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Página Inicial</title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.14.0/css/all.min.css" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<div id="app">
		<div class="container">
			<form th:action="'/api/todos' + ${(todoList != null and todoList.id != null) ? todoList.id : ''}" method="POST" class="add-new-todoitem-form">
				<p id="add-new-todoitem-message">Adicionar nova tarefa</p>
				<input id="new-todoitem-description-input" placeholder="Digite uma nova tarefa" value="" required="required" />
				<input type="hidden" class="todolist-id" th:value="${(todoList != null and todoList.id != null) ? todoList.id : ''}" />
				<button type="submit" id="add-todoitem-button"><i class="far fa-plus-square"></i></button>
			</form>
			<div class="task-list-container">
				<h2 th:text="'Lista de Tarefas' + ${todoList != null ? ' - ' + todoList.name : ''}"></h2>
				<p class="no-todoitems-to-show" th:style="${todoItems.isEmpty() ? 'display: block;' : 'display: none;'}">Sua lista está vazia.</p>
				<ul class="task-list">
					<li th:each="todoItem : ${todoItems}" th:id="'todoitem-' + ${todoItem.id}">
						<div class="todoitem-description-container">
							<i th:if="${todoItem.completed}" class="far fa-check-circle"></i>
							<i th:unless="${todoItem.completed}" class="far fa-circle"></i>
							<span class="todoitem-description-span" th:text="${todoItem.description}" th:style="${todoItem.completed ? 'text-decoration: line-through;' : 'text-decoration: unset;'}"></span>
						</div>
						<!-- <input type="hidden" class="todoitem-id" th:value="${todoItem.id}" /> -->
						<button type="button" class="delete-todoitem-button"><i class="far fa-times-circle"></i></button>
					</li>
				</ul>
			</div>
			<form action="'/api/todos' + ${(todoList != null and todoList.id != null) ? todoList.id : ''}" method="DELETE" class="delete-all-todoitems-form" th:style="${!todoItems.isEmpty() ? 'display: flex;' : 'display: none;'}">
				<p id="delete-all-todoitems-message">Deletar todas as tarefas</p>
				<input type="hidden" class="todolist-id" th:value="${(todoList != null and todoList.id != null) ? todoList.id : ''}" />
				<button type="submit" id="delete-all-todoitems-button"><i class="far fa-trash-alt"></i></button>
			</form>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="module" th:src="@{/js/index.js}" defer></script>
</body>
</html>